div.sidebarTitle {
    color: #2FC19B;
}

li.sidebarTitle {
    margin-top:40px;
    font-weight:normal;
    font-size:130%;
    color: #595959  ;
    margin-bottom:10px;
    margin-left: 5px;

}

div#mysidebar ul, li {
    margin: 8px 0px 8px 22px;
    list-style: none;
    display: block;
}

#mysidebar {
    background-color: #FAFAFA;
}
#mysidebar a {
    background-color: #FAFAFA;
}
#mysidebar > li.active > a {
    background-color: #347DBE;
=======
#mysidebar {
    background-color: #FAFAFA;
}
  
.active{
    
}
.subfolders {

}
/* Style the buttons that are used to open and close the accordion panel */
.accordion_container {
    border-width: thin;
    border-color: blue;
}

.accordion {
    background-color: #fff;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

.panel p {
  margin-top:10px;
}
    
table {
  border-collapse: collapse;
  background-color: transparent;
  border: 1px solid }

tr {
  border: 1px solid;
}

thead {
  background-color: #8edb9a;
}
