<!---
Sidebar
-->
<div class="col-lg-3">
<div class="card card-profile mb-4">
    <div class="card-header" style="background-image: url(/images/IMG_20180517_084000-EFFECTS.jpg);"></div>
    <div class="card-block text-center">
    <a href="profile/index.html">
        <img
        class="card-profile-img"
        src="/images/me.jpg">
    </a>

    <h6 class="card-title">
        <a class="text-inherit" href="profile/index.html">Rhys Shea</a>
    </h6>

    <p class="mb-4">Energy Trader</p>
    <p class="mb-4">Software Developer</p>

    </div>
</div>


<!--- Dropdown -->
<!-- <div class="card visible-md-block visible-lg-block border-primary mb-3"> -->
<div> 
<ul>
<!-- <ul id="mysidebar" class="nav">  -->

    <li class="card-header">Machine Learning </li>

    <li>
        <a href="card-body text-primary">Machine Learning Resources</a>
        <ul>
            <p><a href="/machine-learning-resources/">Online Resources</a></p>
            <p><a href="/machine-learning/journals-library/">Journal Library</a></p>
            <p><a href="/machine-learning/datasets">Datasets for Machine Learning</a></p>
        </ul>

    <li>
        <a href="card-body text-primary">Machine Learning Projects</a>
        <ul>
            <p><a href="/machine-learning-project-titanic-survival/">Titanic Survival Data Exploration</a></p>
            <p><a href="/machine-learning-project-boston-home-prices/">Boston House Prices Prediction and Evaluation (Model Evaluation and Prediction)</a></p>
        </ul>
        <!-- if you aren't using the accordion, uncomment this block:
        <p class="external">
            <a href="#" id="collapseAll">Collapse All</a> | <a href="#" id="expandAll">Expand All</a>
        </p>
        -->
    </li>
</ul>
</div>
</div>